﻿
@model IEnumerable<ContosoUniversity.Models.Department>
@{
    ViewData["Title"] = "Osakonnad";
}
<h1>Departments</h1>
<p>
    <a asp-action="Create">Make a new department</a>
    

</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Name)</th>
            <th> @Html.DisplayNameFor(model => model.Administrator)</th>
            <th> @Html.DisplayNameFor(model => model.Budget)</th>
            <th> @Html.DisplayNameFor(model => model.Description)</th>
            <th> @Html.DisplayNameFor(model => model.People)</th>
            <th> @Html.DisplayNameFor(model => model.StartDate)</th>
            <th> @Html.DisplayNameFor(model => model.RowVersion)</th>
            <th>Available Actions</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => department.Name)</td>
                <td> @Html.DisplayFor(modelItem => department.Administrator.FullName)</td>
                <td> @Html.DisplayFor(modelItem => department.Budget)</td>
                <td> @Html.DisplayFor(modelItem => department.Description)</td>
                <td> @Html.DisplayFor(modelItem => department.People)</td>
                <td> @Html.DisplayFor(modelItem => department.StartDate)</td>
                <td> @Html.DisplayFor(modelItem => department.RowVersion)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@department.DepartmentID">Details</a>
                    <a asp-action="Edit" asp-route-id="@department.DepartmentID">Edit</a>
                    <a asp-action="Edit Admin" asp-route-id="@department.DepartmentID" >EditAdmin</a> 
                    <a asp-action="Clone" asp-route-id="@department.DepartmentID" >Clone</a>
                    <a asp-action="Delete" asp-route-id="@department.DepartmentID" >Delete</a>
                    <a asp-action="BaseOn" asp-route-id="@department.DepartmentID">Make</a>
                   
                </td>

            </tr>
        }
        </tbody>
</table>