
@model IEnumerable<ContosoUniversity.Models.Course>
@{
    ViewData["Title"] = "Kursused";
}

<h2>Courses</h2>
<p>
    <a asp-action="Create">Add a New Course</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CourseID)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Credits)</th>
            <th>available actions</th>       
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
           
            <tr>
                 <td>@Html.DisplayFor(modelItem => department.CourseID)</td>
                <td>@Html.DisplayFor(modelItem => department.Title)</td>
                <td>@Html.DisplayFor(modelItem => department.Credits)</td>
              
              
                <td>
                  
                    <a asp-action="Details" asp-route-id="@department.CourseID">Details</a>
                        <a asp-action="Delete" asp-route-id="@department.CourseID">Delete</a>
                    <a asp-action="Edit" asp-route-id="@department.CourseID">Edit</a>                    
                    
                @*     <a asp-action="Clone" asp-route-id="@department.CourseID">Clone</a> *@
                 
                </td>
            </tr>
        }
        @if (Model == null || !Model.Any())
        {
        <p>No courses available.</p>
        }
    </tbody>
</table>

